---
layout: default
robots: noindex
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      {% if post.type == 'post' %}
          <li>
            <h2 class="post-list__post-title post-title"><a href="{{ '/' | relative_url }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
            <div class="post-list__meta">
                <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time>
                {% if post.tags.size > 0 %}
                &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ '/' | relative_url }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
                {% endif %}
            </div>
            <hr class="post-list__divider">
          </li>
      {% endif %}
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>

<div class="main-post-list hidden">
    <ol class="project-list">

        {% for project in paginator.posts %}
            <!--<h1>{{ project.type }}</h1>-->
            {% if project.type == 'project' %}
            <li>
                <img src="{{ '/' | relative_url }}images/{{ project.image }}" class="project-image">
                <h3 class="project-title">{{ project.title }}</h3>
                <p class="project-description">{{ project.excerpt | strip_html}}</p>
                <div class="project-list__meta">
                    <time datetime="{{ project.date | date: '%-d %b %Y' }}" class="project-list__meta--date date">{{ project.date | date: "%B %Y" }}</time>
                </div>
                {% if project.download %}
                <button class="project-play" type="button" onclick="window.open('{{ project.play-url }}');">
                {% else %}
                <button class="project-play" type="button" onclick="window.location.href = '{{ project.play-url }}';">
                {% endif %}
                    <h3 class="project-play-text">{{ project.play-text | default: 'Play Now' }}</h3>
                </button>
                <h3 class="project-view">View Project Code</h3>
            </li>
            <hr class="project-list__divider">
            {% endif %}
        {% endfor %}

    </ol>
</div>

<div class="main-post-list hidden">
    <ol class="about-me">

        {% for file in paginator.posts %}
            {% if file.type == 'about-me' %}
                <h3 class="about-me-text">{{ file.content | strip_html }}</h3>
            {% endif %}
        {% endfor %}

    </ol>
</div>


